<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask HTML Example with Iframe</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        h1, h3 {
            color: #333;
        }

        .iframe-container {
            display: grid;
            grid-template-columns: 1fr 1fr; /* Two columns */
            grid-template-rows: auto auto; /* Two rows */
            gap: 20px; /* Spacing between iframes */
            margin-top: 20px;
        }

        iframe {
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */
            border: none; /* Remove borders */
            border-radius: 8px; /* Optional rounded corners */
            width: 100%; /* Responsive width */
            height: 400px; /* Fixed height */
        }
    </style>
</head>
<body>
    <h1>Statistics</h1>
    <h3>Average Casualties e_2</h3>

    <div class="iframe-container">
        <div>
            <p>All regions</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/average-casualties-by/region?"></iframe>
        </div>
        <div>
            <p>Top 5 regions</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/average-casualties-by/region?limit=5"></iframe>
        </div>
        <div>
            <p>All countries</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/average-casualties-by/country?"></iframe>
        </div>
        <div>
            <p>Top 5 countries</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/average-casualties-by/country?limit=5"></iframe>
        </div>
    </div>
    <h3>Percent difference e_6</h3>
    <div class="iframe-container">
        <div>
            <p>All regions</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/region/attack-change-percentage"></iframe>
        </div>
        <div>
            <p>Top 5 regions</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/region/attack-change-percentage?limit=5"></iframe>
        </div>
    </div>
    <h3>most_active_groups e_8</h3>
    <div class="iframe-container">
        <div>
            <span>regions</span>
            <input id="region-input" type="text"  placeholder="region"/>
            <button onclick="setRegionSrc()">Choose</button>
            <iframe id="region-iframe" src="http://127.0.0.1:5000/api/statistics/regions/most-active-groups"></iframe>
            <script>
    const setRegionSrc = () => {
        const inputValue = document.getElementById("region-input").value;
        const encodedValue = encodeURIComponent(inputValue); // Encode spaces and special characters
        const iframe = document.getElementById("region-iframe");

        // Set the iframe's src with the properly encoded region parameter
        iframe.src = `http://127.0.0.1:5000/api/statistics/regions/most-active-groups?region=${encodedValue}`;
        console.log(iframe.src);
    };
</script>
        </div>

    </div>
    <h3>Intersection e_11</h3>
    <div class="iframe-container">
        <div>
            <p>All regions</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/region/region-targets-intersection/region"></iframe>
        </div>

        <div>
            <p>All countries</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/region/region-targets-intersection/country"></iframe>
        </div>

    </div>
    <h3>shared_attack_strategies e_14</h3>
    <div class="iframe-container">
        <div>
            <p>All regions</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/regions/shared-attack-strategies/region"></iframe>
        </div>

        <div>
            <p>All countries</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/regions/shared-attack-strategies/country"></iframe>
        </div>

    </div>

    <h3>high_intergroup_activity e_16</h3>

    <div class="iframe-container">
        <div>
            <p>All regions</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/regions/high-intergroup-activity/region"></iframe>
        </div>

        <div>
            <p>All countries</p>
            <iframe src="http://127.0.0.1:5000/api/statistics/regions/high-intergroup-activity/country"></iframe>
        </div>

    </div>
</body>
</html>


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Flask HTML Example with Iframe</title>-->
<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            line-height: 1.6;-->
<!--            margin: 20px;-->
<!--        }-->

<!--        h1, h3 {-->
<!--            color: #333;-->
<!--        }-->

<!--        .iframe-container {-->
<!--            display: grid;-->
<!--            grid-template-columns: 1fr 1fr; /* Two columns */-->
<!--            grid-template-rows: auto auto; /* Two rows */-->
<!--            gap: 20px; /* Spacing between iframes */-->
<!--            margin-top: 20px;-->
<!--        }-->

<!--        iframe {-->
<!--            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Light shadow */-->
<!--            border: none; /* Remove borders */-->
<!--            border-radius: 8px; /* Optional rounded corners */-->
<!--            width: 100%; /* Responsive width */-->
<!--            height: 400px; /* Fixed height */-->
<!--        }-->

<!--        .select-container {-->
<!--            margin: 20px 0;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--    <h1>Statistics</h1>-->

<!--    &lt;!&ndash; Dropdown for selecting maps &ndash;&gt;-->
<!--    <div class="select-container">-->
<!--        <label for="mapSelect">Select a map:</label>-->
<!--        <select id="mapSelect" onchange="updateIframe()">-->
<!--            <option value="casualties">Average Casualties e_2</option>-->
<!--            <option value="percent-difference">Percent Difference e_6</option>-->
<!--            <option value="most-active-groups">Most Active Groups e_8</option>-->
<!--            <option value="intersection">Intersection e_11</option>-->
<!--            <option value="shared-attack-strategies">Shared Attack Strategies e_14</option>-->
<!--            <option value="high-intergroup-activity">High Intergroup Activity e_16</option>-->
<!--        </select>-->
<!--    </div>-->

<!--    &lt;!&ndash; Ifame container &ndash;&gt;-->
<!--    <div class="iframe-container" id="iframeContainer">-->
<!--        &lt;!&ndash; Placeholder for iframe content. Will be updated dynamically. &ndash;&gt;-->
<!--    </div>-->

<!--    <script>-->
<!--        // Function to update iframe based on selected map-->
<!--        function updateIframe() {-->
<!--            const selectedValue = document.getElementById('mapSelect').value;-->
<!--            const iframeContainer = document.getElementById('iframeContainer');-->
<!--            iframeContainer.innerHTML = ''; // Clear current iframe content-->

<!--            let iframeContent = '';-->

<!--            // Different iframe content based on selected map-->
<!--            if (selectedValue === 'casualties') {-->
<!--                iframeContent = `-->
<!--                    <h3>Average Casualties e_2</h3>-->
<!--                    <div class="iframe-container">-->
<!--                        <div>-->
<!--                            <p>All regions</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/average-casualties-by/region?"></iframe>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>Top 5 regions</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/average-casualties-by/region?limit=5"></iframe>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>All countries</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/average-casualties-by/country?"></iframe>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>Top 5 countries</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/average-casualties-by/country?limit=5"></iframe>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                `;-->
<!--            } else if (selectedValue === 'percent-difference') {-->
<!--                iframeContent = `-->
<!--                    <h3>Percent Difference e_6</h3>-->
<!--                    <div class="iframe-container">-->
<!--                        <div>-->
<!--                            <p>All regions</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/region/attack-change-percentage"></iframe>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>Top 5 regions</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/region/attack-change-percentage?limit=5"></iframe>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                `;-->
<!--            } else if (selectedValue === 'most-active-groups') {-->
<!--                iframeContent = `-->
<!--                    <h3>Most Active Groups e_8</h3>-->
<!--                    <div class="iframe-container">-->
<!--                        <div>-->
<!--                            <p>Top 5 regions</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/regions/most-active-groups"></iframe>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                `;-->
<!--            } else if (selectedValue === 'intersection') {-->
<!--                iframeContent = `-->
<!--                    <h3>Intersection e_11</h3>-->
<!--                    <div class="iframe-container">-->
<!--                        <div>-->
<!--                            <p>All regions</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/region/region-targets-intersection/region"></iframe>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>All countries</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/region/region-targets-intersection/country"></iframe>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                `;-->
<!--            } else if (selectedValue === 'shared-attack-strategies') {-->
<!--                iframeContent = `-->
<!--                    <h3>Shared Attack Strategies e_14</h3>-->
<!--                    <div class="iframe-container">-->
<!--                        <div>-->
<!--                            <p>All regions</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/regions/shared-attack-strategies/region"></iframe>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>All countries</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/regions/shared-attack-strategies/country"></iframe>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                `;-->
<!--            } else if (selectedValue === 'high-intergroup-activity') {-->
<!--                iframeContent = `-->
<!--                    <h3>High Intergroup Activity e_16</h3>-->
<!--                    <div class="iframe-container">-->
<!--                        <div>-->
<!--                            <p>All regions</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/regions/high-intergroup-activity/region"></iframe>-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <p>All countries</p>-->
<!--                            <iframe src="http://127.0.0.1:5000/api/statistics/regions/high-intergroup-activity/country"></iframe>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                `;-->
<!--            }-->

<!--            iframeContainer.innerHTML = iframeContent; // Update iframe container-->
<!--        }-->

<!--        // Initialize with default map-->
<!--        window.onload = updateIframe;-->
<!--    </script>-->
<!--</body>-->
<!--</html>-->
